<!-- templates/home.html -->
{% extends 'base.html' %}

{% if user.is_authenticated %}

    {% block header %}
        {% include 'snippets/headers.html' %}
    {% endblock header %}

    {% block content %}
        {% include 'snippets/consul-tree.html' %}
        {% include 'snippets/footer.html' %}
    {% endblock content %}

<!--  <a class="text-center home-button btn" href="{% url 'logout' %}" >logout</a>-->
{% else %}
    <meta http-equiv="refresh" content="0; URL='/account/login/'" />
{% endif %}